@import url("https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/fonts/google-sans.css");
/* I still have no idea how to load fonts from my own GitHub. */

:root {
    --Accent: rgb(85, 123, 226);
    --AccentTextColor: rgb(246, 246, 246);
    --AccentHoverColor: rgb(127, 161, 255);
    --HoveredBorderColor: rgb(132, 132, 132);
    --CubicBezierAnimation: cubic-bezier(0.4, 0, 0.2, 1);
    --ButtonBorderRadius: 20px;
    --ImageBorderRadius: calc(18px / 1.75);
    --RoundBorderRadius: calc(100% / 2);
}

.builder-font, .builder-font h1, .builder-font .h1, .builder-font h2, .builder-font .h2, .builder-font h3, .builder-font .h3, .builder-font h4, .builder-font .h4, .builder-font h5, .builder-font .h5, .builder-font h6, .builder-font .h6, .builder-font html, .builder-font body, .builder-font pre, .builder-font input, .builder-font textarea, .builder-font select, .builder-font button, .builder-font .text {
    font-family: "Google Sans", sans-serif !important
}

.dark-theme {
    --MainBackgroundColor: rgb(21, 22, 25);
    --ContentBackgroundColor: rgb(33, 35, 38);
    --NavbarBackgroundColor: rgb(14, 15, 17);
    --LeftNavbarButtonHoverColor: rgb(43, 45, 49);
    --SearchBarBackgroundColor: rgb(39, 39, 42);
    --PopoutBackgroundColor: rgb(45, 48, 52);
    --DropdownShadowColor: hsl(none 0% 0% / 0.16);
    --BottomBorderColor: rgb(58, 60, 65);
    --SelectedBorderColor: rgb(250, 250, 250);
    --ContentCardBackgroundColor: rgb(42, 43, 47);
}

.light-theme {
    --MainBackgroundColor: rgb(250, 250, 250);
    --ContentBackgroundColor: rgb(228, 230, 231);
    --NavbarBackgroundColor: rgb(232, 232, 232);
    --LeftNavbarButtonHoverColor: rgb(218, 219, 221);
    --SearchBarBackgroundColor: rgb(207, 207, 207);
    --PopoutBackgroundColor: rgb(255, 255, 255);
    --DropdownShadowColor: hsl(0, 0%, 0%, 0.28);
    --BottomBorderColor: rgb(226, 226, 228);
    --SelectedBorderColor: rgb(50, 51, 57);
    --ContentCardBackgroundColor: rgb(249, 249, 249);
}

.dark-theme, .light-theme {
    background-color: var(--MainBackgroundColor);
}

.rbx-left-col {
    background-color: var(--NavbarBackgroundColor) !important;
}

.left-col-list > li, .left-col-list .rbx-platform-event-container .rbx-platform-event-header {
    display: flex !important;
    transition: background-color 250ms var(--CubicBezierAnimation);
    border-radius: var(--ButtonBorderRadius);
    height: 40px;
    padding-left: 5px;
    margin-left: -5px;
    margin-right: -10px;
}

.left-col-list > li > a {
    width: 100%;
}

.left-col-list .dynamic-width-item.align-right {
    padding-right: 5px;
}

.left-col-list > li:not(.rbx-upgrade-now):hover, .left-col-list .rbx-platform-event-container .rbx-platform-event-header:hover {
    background-color: var(--LeftNavbarButtonHoverColor) !important;
}

.left-col-list .rbx-upgrade-now {
    width: 160px;
}

.navbar-fixed-top {
    background-color: var(--NavbarBackgroundColor) !important;
    border: solid transparent !important;
    border-width: 0 0 1px !important;
}

.container-main:not(:has(iframe[id="roproThemeFrame"])), .content, .container-footer, .table.summary, .catalog-header, .topic-container, .search-bars {
    background-color: var(--MainBackgroundColor) !important;
}

.section-content, .profile-container .profile-game .game-grid, .group-details .group-profile-header {
    border-radius: 18px !important;
    background-color: var(--ContentBackgroundColor) !important;
    padding: 8px 0 0 8px !important;
}

.group-details .group-profile-header, .section-content.account-switcher-section {
    padding: 8px !important;
}

.section-content:has(.game-main-content) {
    box-shadow: var(--DropdownShadowColor) 0 8px 24px;
}

.section-content.login-section {
    padding: 8px !important;
}

.profile-container .btr-profile-container .section-content { /* BTRoblox exclusive */
    padding: 8px !important;
    box-shadow: var(--DropdownShadowColor) 0 8px 24px;
}

.profile-container .btr-friends-list .friends-carousel-container .friends-carousel-list-container { /* BTRoblox exclusive */
    padding: 15px 0 !important;
    background-color: var(--ContentBackgroundColor) !important;
    border-radius: 18px;
    box-shadow: var(--DropdownShadowColor) 0 8px 24px;
    margin-bottom: 18px;
}

.section-content.remove-panel {
    left: -5px !important;
    padding: 10px 5px !important;
    width: 100%;
    box-sizing: content-box;
}

.tab-horizontal-submenu.section-content {
    border-radius: 0 0 18px 18px !important;
    border-top: solid transparent;
    box-shadow: var(--DropdownShadowColor) 0 8px 24px;
    transform-origin: top;
    animation: opacity-anim 250ms var(--CubicBezierAnimation), dropdown-menu-anim 250ms var(--CubicBezierAnimation);
}

.tab-horizontal-submenu.section-content.six-column {
    padding: 0 0 3px 0 !important;
}

.game-details-carousel-container {
    border-radius: var(--ImageBorderRadius) !important;
}

.navbar-left.navbar-search {
    background-color: transparent !important;
}

.form-control {
    border-radius: 16px !important;
    border: solid transparent !important;
    background-color: var(--SearchBarBackgroundColor) !important;
}

.game-details-play-button-container > button {
    border-radius: 16px !important;
    transition: transform 250ms var(--CubicBezierAnimation), background-color 250ms var(--CubicBezierAnimation);
}

.game-details-play-button-container > button:hover {
    transform: scale(1.1);
}

.friend-tile-dropdown, .web-blox-css-mui-hjn929.MuiPaper-elevation {
    border-radius: 8px !important;
    transform-origin: top;
    animation: dropdown-menu-anim 250ms var(--CubicBezierAnimation), opacity-anim 250ms var(--CubicBezierAnimation);
    background-color: var(--PopoutBackgroundColor) !important;
}

.friend-tile-dropdown-button {
    transition: background-color 250ms var(--CubicBezierAnimation);
}

.friend-tile-dropdown-button span, .left-col-list span  { /* This was very unintentional but it looks AWESOME! */
    transition: background-position 250ms var(--CubicBezierAnimation);
}

.friend-tile-dropdown-button:has(.icon.icon-viewdetails) {
    border-radius: 0 0 8px 8px;
}

.friend-tile-dropdown:not(:has(.in-game-friend-card)) .friend-tile-dropdown-button:has(.icon.icon-chat-gray) {
    border-radius: 8px 8px 0 0;
    border-top: none;
}

.MuiButtonBase-root {
    border-radius: var(--ButtonBorderRadius);
}

.btn-growth-sm, .btn-primary-md, .btn-control-small, .btn-growth-md, .btn-control-sm, .btn-primary-lg, .btn-growth-lg, .btn-control-md, .btn-control-xs:not(.profile-view-selector, .btn-pastnames), .foundation-web-button, .btn-cta-md, .btn-control-lg, .web-blox-css-tss-lo77dr-Button-contained {
    border-radius: var(--ButtonBorderRadius) !important;
    background-color: var(--Accent) !important;
    border: none !important;
    color: var(--AccentTextColor) !important;
    transition: background-color 250ms var(--CubicBezierAnimation);
}

.btn-secondary-md {
    border-radius: var(--ButtonBorderRadius) !important;
}

.left-col-list .rbx-upgrade-now .btn-growth-md {
    width: 100%;
    margin-left: -8px;
    border: solid transparent !important;
}

.btn-control-xs:not(.rbx-public-game-server-item-container .rbx-public-game-server-item *, .profile-view-selector, .btn-pastnames) {
    padding: 10px !important;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.btn-control-xs:not(.rbx-public-game-server-item-container .rbx-public-game-server-item *, .profile-view-selector, .btn-pastnames):after {
    position: relative;
}

.btn-growth-sm:hover, .btn-primary-md:hover, .btn-control-small:hover, .btn-growth-md:hover, .btn-control-sm:hover, .btn-primary-lg:hover, .btn-growth-lg:hover, .btn-control-md:hover, .btn-control-xs:not(.profile-view-selector, .btn-pastnames):hover, .foundation-web-button:hover, .btn-cta-md:hover, .btn-control-lg:hover, .web-blox-css-tss-lo77dr-Button-contained:hover {
    background-color: var(--AccentHoverColor) !important;
}

.left-col-list .rbx-upgrade-now .btn-growth-md:hover {
    border: solid transparent;
}

.nav.rbx-navbar.hidden-xs.hidden-sm > li:hover {
    animation: border-appear 250ms var(--CubicBezierAnimation);
}

.dropdown-menu, .popover-content, #avatar-card-dropdown-menu.popover.bottom, .search-landing-container {
    transform-origin: top;
    animation: dropdown-menu-anim 250ms var(--CubicBezierAnimation), opacity-anim 250ms var(--CubicBezierAnimation);
    box-shadow: var(--DropdownShadowColor) 0 8px 24px;
    border-radius: 18px;
}

#avatar-card-dropdown-menu.popover.bottom {
    box-shadow: none;
}

.dropdown-menu {
    background-color: var(--PopoutBackgroundColor) !important;
}

.dropdown-menu > li {
    transition: background-color 250ms var(--CubicBezierAnimation);
}

.dropdown-menu > li > a {
    transition: color 250ms var(--CubicBezierAnimation);
}

.popover.bottom > .arrow:after {
    border-bottom-color: var(--PopoutBackgroundColor) !important;
}

.chat-main {
    transition: height 250ms var(--CubicBezierAnimation), width 250ms var(--CubicBezierAnimation); /* Width too because BTR can change the chat button's width. */
}

.game-card-container .ropro-card-quick-play-options { /* RoPro exclusive */
    transition: right 250ms var(--CubicBezierAnimation), opacity 250ms var(--CubicBezierAnimation) !important;
}

.game-card-container button:not(.experience-events-tile *) { /* RoPro exclusive */
    border-radius: calc(100% / 2) !important;
    background-color: var(--Accent) !important;
}

.game-card-thumb-container, .brief-game-icon {
    background-color: transparent !important;
}

.game-card-thumb-container > img, .brief-game-icon > img {
    border-radius: var(--ImageBorderRadius) !important;
}

.navbar-right.rbx-navbar-icon-group > li > button:not(.btn-navigation-nav-robux-md), .navbar-right.rbx-navbar-icon-group > li > a {
    border-radius: var(--RoundBorderRadius) !important;
    transition: background-color 250ms var(--CubicBezierAnimation);
}

.navbar-right.rbx-navbar-icon-group .btn-navigation-nav-robux-md {
    border-radius: var(--ButtonBorderRadius) !important;
}

.rbx-tabs-horizontal .nav-tabs {
    background-color: var(--ContentBackgroundColor) !important;
    border-radius: 18px 18px 0 0;
    border-bottom: 1px solid var(--BottomBorderColor);
    box-shadow: var(--DropdownShadowColor) 0 8px 24px;
}

.rbx-tabs-horizontal .rbx-tab:hover .rbx-tab-heading {
    box-shadow: inset 0 -1px var(--HoveredBorderColor) !important;
}

.rbx-tabs-horizontal .rbx-tab.active .rbx-tab-heading {
    box-shadow: inset 0 -2px var(--SelectedBorderColor) !important;
}

.rbx-tabs-horizontal .rbx-tab .rbx-tab-heading {
    background-color: rgba(0, 0, 0, 0) !important;
    box-shadow: none !important;
    transition: box-shadow 250ms var(--CubicBezierAnimation)
}

.rbx-tabs-horizontal.roblox-messages-container, .table.table-striped.transactions {
    border-radius: 18px;
    background-color: var(--ContentBackgroundColor) !important;
}

.friends-carousel-tile > button > a { /* Seems like Roblox doesn't know how to center the "Add Friends" button in the home page. */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.friends-carousel-tile .add-friends-icon-container:before {
    background-color: var(--PopoutBackgroundColor) !important;
}

.item-card-thumb-container, .item-card-thumb-container:before, .item-card-thumb, .item-card-equipped, .item-card-menu.ng-scope.ng-isolate-scope.active {
    border-radius: 28px !important;
    transition: opacity 250ms var(--CubicBezierAnimation) !important;
}

.page-content .rbx-tabs-horizontal {
    background-color: var(--ContentBackgroundColor);
    border-radius: 18px;
}

.page-content .rbx-tabs-horizontal .rbx-tab-content {
    padding: 0 12px;
}

.tab-content.rbx-tab-content {
    padding: 6px 12px;
    margin: 0;
    background-color: var(--ContentBackgroundColor) !important;
    border-radius: 0 0 18px 18px;
}

.assets-explorer-main-content .tab-content.rbx-tab-content {
    padding: 20px 12px 0;
}

.roblox-messages-container .tab-content.rbx-tab-content {
    background-color: transparent !important;
}

.tab-content.rbx-tab-content .hlist.game-cards {
    display: flex;
    flex-wrap: wrap;
}

.tab-content.rbx-tab-content .hlist.game-cards .list-item.game-card {
    flex-grow: 1;
    flex-basis: calc(100% / 6);
    min-width: 150px;
}

.profile-header-main {
    border-radius: 18px;
    padding: 10px;
    background: var(--ContentBackgroundColor) !important;
}

.profile-avatar-mask {
    padding: 20px 11px !important;
}

.text.ng-binding.ng-scope {
    border-radius: var(--ButtonBorderRadius) !important;
    transition: background-color 250ms var(--CubicBezierAnimation);
}

.roblox-message-row, .message-news {
    border: transparent;
    border-radius: 16px;
}

.roblox-messages-container .messages, .messages.notification-list {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 0 12px;
}

.section-content-off {
    background-color: transparent !important;
}

.profile-container .web-blox-css-mui-16xdy8q, .profile-container .web-blox-css-mui-1ux7oer {
    background-color: transparent !important;
}

.rbx-tabs-horizontal {
    box-shadow: var(--DropdownShadowColor) 0 8px 24px;
}

.assets-explorer-main-content .tab-content.rbx-tab-content, .assets-explorer-main-content .menu-vertical-container.category-tabs, #settings-container .tab-content.rbx-tab-content, #settings-container .menu-vertical {
    border-radius: 18px;
    box-shadow: var(--DropdownShadowColor) 0 8px 24px;
}

.assets-explorer-main-content .menu-vertical-container.category-tabs, #settings-container .menu-vertical, #group-container .menu-vertical-container {
    position: relative;
    background-color: var(--ContentBackgroundColor) !important;
    padding: 0;
    left: -10px;
    overflow: hidden;
    padding: 15px 0;
}

#group-container .menu-vertical-container {
    border-radius: 18px;
    box-shadow: var(--DropdownShadowColor) 0 8px 24px;
}

#group-container .menu-vertical-container .menu-vertical {
    background-color: transparent;
}

.assets-explorer-main-content .menu-vertical-container.category-tabs .menu-vertical.submenus {
    margin-right: 0;
    background-color: transparent !important;
}

.assets-explorer-main-content .menu-vertical-container.category-tabs .menu-vertical.submenus .menu-option, .assets-explorer-main-content .menu-vertical-container.category-tabs .menu-vertical.submenus .menu-option-content, #settings-container .menu-vertical .menu-option-content, #settings-container .menu-vertical .menu-option {
    transition: box-shadow 250ms var(--CubicBezierAnimation);
}

.assets-explorer-main-content .menu-vertical-container.category-tabs .menu-vertical.submenus .menu-option:not(.active):hover, .assets-explorer-main-content .menu-vertical-container.category-tabs .menu-vertical.submenus .menu-option-content:hover, #settings-container .menu-vertical .menu-option-content:not(.active):hover, #settings-container .menu-vertical .menu-option:not(:has(.active)):hover, .menu-vertical-container .menu-vertical .menu-option:not(:has(.active)):hover {
    box-shadow: inset 2px 0 var(--HoveredBorderColor);
}

.assets-explorer-main-content .menu-vertical-container.category-tabs .menu-vertical.submenus .menu-option.active, #settings-container .menu-vertical .menu-option-content.active, .menu-vertical-container .menu-vertical .menu-option.active {
    box-shadow: inset 4px 0 var(--SelectedBorderColor) !important;
}

.assets-explorer-main-content .menu-vertical-container.category-tabs .menu-vertical.submenus .menu-option.active .menu-option-content:focus, .assets-explorer-main-content .menu-vertical-container.category-tabs .menu-vertical.submenus .menu-option.active .menu-option-content:hover, #group-container .menu-vertical-container .menu-vertical .menu-option .menu-option-content:hover {
    box-shadow: none;
}

.assets-explorer-main-content .menu-vertical-container.category-tabs > .ng-binding {
    padding: 5px 5px;
}

.modal-content, .modal-content .section-content.modal-section {
    background-color: var(--PopoutBackgroundColor) !important;
    border-radius: 18px !important;
}

.modal-content .section-content.modal-section {
    padding: 0 !important;
}

.modal-content .section-content.modal-section .account-selection {
    border-radius: var(--ButtonBorderRadius);
    background-color: var(--ContentBackgroundColor);
}

.profile-container .btr-game-button {
    border-radius: 18px;
}

.profile-container .profile-game .game-grid {
    background-color: var(--ContentBackgroundColor);
}

.group-details .rbx-tabs-horizontal {
    margin: 0;
}

.group-details .tab-content.rbx-tab-content {
    box-shadow: var(--DropdownShadowColor) 0 8px 24px;
}

.group-details .group-profile-header {
    border-radius: 18px !important
}

.card-item.card-item-public-server, .card-item-private-server, .group-section-content.shout-container, .group-details .comment.list-item {
    background-color: var(--ContentCardBackgroundColor) !important;
    border-radius: 18px;
}

.profile-container .profile-view-selector {
    border-radius: var(--ButtonBorderRadius);
}

.notification-stream-base .notification-content-view {
    border-radius: 18px !important;
}

.notification-stream-base .notification-content-view .notification-stream-header {
    border-radius: 18px 18px 0 0;
}

.notification-stream-base .notification-content-view .notification-stream-body {
    border-radius: 0 0 18px 18px;
}

.notification-stream-base .notification-content-view .notification-stream-body .notification-stream-loading, .notification-stream-base .notification-content-view .notification-stream-body .container-empty {
    background-color: var(--PopoutBackgroundColor) !important;
}

.notification-stream-base .notification-content-view .notification-stream-body .notification-stream-banner {
    display: none;
}

.web-blox-css-tss-1o0wd2v-root, .web-blox-css-tss-1xgqzs8-root {
    background-color: var(--PopoutBackgroundColor);
}

.table.table-striped.transactions tbody tr:nth-child(2n) > td {
    background-color: var(--PopoutBackgroundColor) !important;
}

.alert-success {
    border-radius: 0 0 8px 8px;
}

.passkey-upsell-banner {
    border-radius: 18px;
    background-color: var(--PopoutBackgroundColor) !important;
    border: 1px solid transparent;
}

.friends-content.section .avatar-card-container, .friends-content.section .avatar-card-container .avatar-card-btns {
    border-radius: 18px !important;
    background-color: var(--PopoutBackgroundColor) !important;
}

#friends-web-app .nav.nav-tabs .rbx-tab:hover .rbx-tab-heading:not(.active) {
    box-shadow: inset 0 -2px var(--HoveredBorderColor) !important;
}

#friends-web-app .nav.nav-tabs .rbx-tab .rbx-tab-heading.active {
    box-shadow: inset 0 -4px var(--SelectedBorderColor) !important;
}

.stack-row.badge-row {
    border-radius: 18px;
    background-color: var(--PopoutBackgroundColor) !important;
}

.popover {
    border-radius: 18px;
}

.search-landing-container {
    border-radius: 0 0 18px 18px;
    background-color: var(--NavbarBackgroundColor) !important;
}

.search-landing-container .spacer {
    background-color: var(--NavbarBackgroundColor) !important;
}

.groups-list-sidebar {
    background-color: var(--ContentBackgroundColor);
    border-radius: 0 18px 18px 0;
    box-shadow: var(--DropdownShadowColor) 0 8px 24px;
    border: none;
}

.screentime-chart-container, #settings-container .group-wrapper.group-open {
    border-radius: 18px;
    background-color: var(--ContentCardBackgroundColor) !important;
}

.screentime-chart-container .highcharts-background {
    fill: transparent !important;
}

@keyframes border-appear {
    from {
        border-bottom-color: rgba(0, 0, 0, 0)
    }
}

@keyframes opacity-anim {
    from {
        opacity: 0;
    }
}

@keyframes dropdown-menu-anim {
    from {
        transform: scale(1, 0.5);
    }
}