@import url("https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/fonts/google-sans.css"); 

:root {
    --CubicBezierAnimation: cubic-bezier(0.4, 0, 0.2, 1);
}

.builder-font, .builder-font h1, .builder-font .h1, .builder-font h2, .builder-font .h2, .builder-font h3, .builder-font .h3, .builder-font h4, .builder-font .h4, .builder-font h5, .builder-font .h5, .builder-font h6, .builder-font .h6, .builder-font html, .builder-font body, .builder-font pre, .builder-font input, .builder-font textarea, .builder-font select, .builder-font button, .builder-font .text {
    font-family: "Google Sans", sans-serif !important
}

.dark-theme {
    --MainBackgroundColor: rgb(21, 22, 25);
    --ContentBackgroundColor: rgb(33, 35, 38);
    --NavbarBackgroundColor: rgb(14, 15, 17);
    --SearchBarBackgroundColor: rgb(39, 39, 42);
    --DropdownMenuBackgroundColor: rgb(45, 48, 52);
}

.light-theme {
    --MainBackgroundColor: rgb(250, 250, 250);
    --ContentBackgroundColor: rgb(228, 230, 231);
    --NavbarBackgroundColor: rgb(232, 232, 232);
    --SearchBarBackgroundColor: rgb(207, 207, 207);
    --DropdownMenuBackgroundColor: rgb(255, 255, 255);
}

.rbx-left-col {
    background-color: var(--NavbarBackgroundColor) !important;
}

.navbar-fixed-top {
    background-color: var(--NavbarBackgroundColor) !important;
    border: solid transparent !important;
    border-width: 0 0 1px !important;
}

.container-main {
    background-color: var(--MainBackgroundColor) !important;
}

.content {
    background-color: var(--MainBackgroundColor) !important;
}

.section-content {
    border-radius: 18px !important;
    background-color: var(--ContentBackgroundColor) !important; 
}

.game-details-carousel-container {
    border-radius: 18px !important;
}

.navbar-left.navbar-search {
    background-color: transparent !important;
}

.form-control {
    border-radius: 16px !important;
    border: solid transparent !important;
    background-color: var(--SearchBarBackgroundColor) !important;
}

.game-details-play-button-container > button {
    border-radius: 16px !important;
    transition: transform 250ms var(--CubicBezierAnimation);
}

.game-details-play-button-container > button:hover {
    transform: scale(1.1);
}

.btn-growth-sm {
    border-radius: 16px !important;
}

.nav.rbx-navbar.hidden-xs.hidden-sm > li:hover {
    animation: border-appear 250ms var(--CubicBezierAnimation);
}

.dropdown-menu {
    transform-origin: top;
    animation: dropdown-menu-anim 250ms var(--CubicBezierAnimation);
    background-color: var(--DropdownMenuBackgroundColor) !important;
}

.popover.bottom > .arrow:after {
    border-bottom-color: var(--DropdownMenuBackgroundColor) !important;
}

.chat-main {
    transition: height 250ms var(--CubicBezierAnimation), width 250ms var(--CubicBezierAnimation); /* Width too because BTR can change the chat button's width. */
}

@keyframes border-appear {
    from {
        border-bottom-color: rgba(0, 0, 0, 0)
    }
}

@keyframes dropdown-menu-anim {
    from {
        transform: scale(1, 0.5);
    }
}