@import url("https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/fonts/google-sans.css");
/* I still have no idea how to load fonts from my own GitHub. */

:root {
    --Accent: rgb(85, 123, 226);
    --AccentTextColor: rgb(246, 246, 246);
    --AccentHoverColor: rgb(127, 161, 255);
    --HoveredBorderColor: rgb(132, 132, 132);
    --CubicBezierAnimation: cubic-bezier(0.4, 0, 0.2, 1);
    --ButtonBorderRadius: 20px;
    --ImageBorderRadius: calc(18px / 1.75);
    --RoundBorderRadius: calc(100% / 2);
}

.builder-font, .builder-font h1, .builder-font .h1, .builder-font h2, .builder-font .h2, .builder-font h3, .builder-font .h3, .builder-font h4, .builder-font .h4, .builder-font h5, .builder-font .h5, .builder-font h6, .builder-font .h6, .builder-font html, .builder-font body, .builder-font pre, .builder-font input, .builder-font textarea, .builder-font select, .builder-font button, .builder-font .text {
    font-family: "Google Sans", sans-serif !important
}

.dark-theme {
    --MainBackgroundColor: rgb(21, 22, 25);
    --ContentBackgroundColor: rgb(33, 35, 38);
    --NavbarBackgroundColor: rgb(14, 15, 17);
    --LeftNavbarButtonHoverColor: rgb(43, 45, 49);
    --SearchBarBackgroundColor: rgb(39, 39, 42);
    --DropdownMenuBackgroundColor: rgb(45, 48, 52);
    --DropdownShadowColor: hsl(none 0% 0% / 0.16);
    --BottomBorderColor: rgb(58, 60, 65);
    --SelectedBorderColor: rgb(250, 250, 250);
}

.light-theme {
    --MainBackgroundColor: rgb(250, 250, 250);
    --ContentBackgroundColor: rgb(228, 230, 231);
    --NavbarBackgroundColor: rgb(232, 232, 232);
    --LeftNavbarButtonHoverColor: rgb(218, 219, 221);
    --SearchBarBackgroundColor: rgb(207, 207, 207);
    --DropdownMenuBackgroundColor: rgb(255, 255, 255);
    --DropdownShadowColor: hsl(0, 0%, 0%, 0.28);
    --BottomBorderColor: rgb(226, 226, 228);
    --SelectedBorderColor: rgb(50, 51, 57);
}

.dark-theme, .light-theme {
    background-color: var(--MainBackgroundColor);
}

.rbx-left-col {
    background-color: var(--NavbarBackgroundColor) !important;
}

.left-col-list > li, .left-col-list .rbx-platform-event-container .rbx-platform-event-header {
    display: flex !important;
    transition: background-color 250ms var(--CubicBezierAnimation);
    border-radius: var(--ButtonBorderRadius);
    height: 40px;
    padding-left: 5px;
    margin-left: -5px;
    margin-right: -10px;
}

.left-col-list > li > a {
    width: 100%;
}

.left-col-list .dynamic-width-item.align-right {
    padding-right: 5px;
}

.left-col-list > li:not(.rbx-upgrade-now):hover, .left-col-list .rbx-platform-event-container .rbx-platform-event-header:hover {
    background-color: var(--LeftNavbarButtonHoverColor) !important;
}

.left-col-list .rbx-upgrade-now {
    width: 160px;
}

.navbar-fixed-top {
    background-color: var(--NavbarBackgroundColor) !important;
    border: solid transparent !important;
    border-width: 0 0 1px !important;
}

.container-main, .content, .container-footer, .table.summary, .catalog-header, .topic-container, .search-bars {
    background-color: var(--MainBackgroundColor) !important;
}

.section-content {
    border-radius: 18px !important;
    background-color: var(--ContentBackgroundColor) !important;
    padding: 8px 0 0 8px !important;
}

.section-content.remove-panel {
    left: -5px !important;
    padding: 10px 5px !important;
    width: 100%;
    box-sizing: content-box;
}

.tab-horizontal-submenu.section-content {
    border-radius: 0 0 18px 18px !important;
    border-top: solid transparent;
    box-shadow: var(--DropdownShadowColor) 0 8px 24px;
    transform-origin: top;
    animation: opacity-anim 250ms var(--CubicBezierAnimation), dropdown-menu-anim 250ms var(--CubicBezierAnimation);
}

.tab-horizontal-submenu.section-content.six-column {
    padding: 0 0 3px 0 !important;
}

.game-details-carousel-container {
    border-radius: var(--ImageBorderRadius) !important;
}

.navbar-left.navbar-search {
    background-color: transparent !important;
}

.form-control {
    border-radius: 16px !important;
    border: solid transparent !important;
    background-color: var(--SearchBarBackgroundColor) !important;
}

.game-details-play-button-container > button {
    border-radius: 16px !important;
    transition: transform 250ms var(--CubicBezierAnimation), background-color 250ms var(--CubicBezierAnimation);
}

.game-details-play-button-container > button:hover {
    transform: scale(1.1);
}

.friend-tile-dropdown, .web-blox-css-mui-hjn929.MuiPaper-elevation {
    border-radius: 8px !important;
    transform-origin: top;
    animation: dropdown-menu-anim 250ms var(--CubicBezierAnimation), opacity-anim 250ms var(--CubicBezierAnimation);
    background-color: var(--DropdownMenuBackgroundColor) !important;
}

.friend-tile-dropdown-button {
    transition: background-color 250ms var(--CubicBezierAnimation);
}

.friend-tile-dropdown-button span { /* This was very unintentional but it looks AWESOME! */
    transition: background-position 250ms var(--CubicBezierAnimation);
}

.friend-tile-dropdown-button:has(.icon.icon-viewdetails) {
    border-radius: 0 0 8px 8px;
}

.MuiButtonBase-root {
    border-radius: var(--ButtonBorderRadius);
}

.btn-growth-sm, .btn-primary-md, .btn-control-small, .btn-growth-md, .btn-control-sm, .btn-primary-lg, .web-blox-css-tss-lo77dr-Button-contained {
    border-radius: var(--ButtonBorderRadius) !important;
    background-color: var(--Accent) !important;
    border: none !important;
    color: var(--AccentTextColor) !important;
    transition: background-color 250ms var(--CubicBezierAnimation);
}

.left-col-list .rbx-upgrade-now .btn-growth-md {
    width: 100%;
    margin-left: -8px;
    border: solid transparent !important;
}

.btn-growth-sm:hover, .btn-primary-md:hover, .btn-control-small:hover, .btn-growth-md:hover, .web-blox-css-tss-lo77dr-Button-contained:hover {
    background-color: var(--AccentHoverColor) !important;
}

.left-col-list .rbx-upgrade-now .btn-growth-md:hover {
    border: solid transparent;
}

.nav.rbx-navbar.hidden-xs.hidden-sm > li:hover {
    animation: border-appear 250ms var(--CubicBezierAnimation);
}

.dropdown-menu, .popover-content {
    transform-origin: top;
    animation: dropdown-menu-anim 250ms var(--CubicBezierAnimation), opacity-anim 250ms var(--CubicBezierAnimation);
}

.dropdown-menu {
    background-color: var(--DropdownMenuBackgroundColor) !important;
}

.popover.bottom > .arrow:after {
    border-bottom-color: var(--DropdownMenuBackgroundColor) !important;
}

.chat-main {
    transition: height 250ms var(--CubicBezierAnimation), width 250ms var(--CubicBezierAnimation); /* Width too because BTR can change the chat button's width. */
}

.game-card-container .ropro-card-quick-play-options { /* RoPro exclusive */
    transition: right 250ms var(--CubicBezierAnimation), opacity 250ms var(--CubicBezierAnimation) !important;
}

.game-card-container button:not(.experience-events-tile *) { /* RoPro exclusive */
    border-radius: calc(100% / 2) !important;
    background-color: var(--Accent) !important;
}

.game-card-thumb-container, .brief-game-icon {
    background-color: transparent !important;
}

.game-card-thumb-container > img, .brief-game-icon > img {
    border-radius: var(--ImageBorderRadius) !important;
}

.navbar-right.rbx-navbar-icon-group > li > button:not(.btn-navigation-nav-robux-md), .navbar-right.rbx-navbar-icon-group > li > a {
    border-radius: var(--RoundBorderRadius) !important;
    transition: background-color 250ms var(--CubicBezierAnimation);
}

.navbar-right.rbx-navbar-icon-group .btn-navigation-nav-robux-md {
    border-radius: var(--ButtonBorderRadius) !important;
}

.rbx-tabs-horizontal .nav-tabs {
    background-color: var(--ContentBackgroundColor) !important;
    border-radius: 18px 18px 0 0;
    border-bottom: 1px solid var(--BottomBorderColor);
    box-shadow: var(--DropdownShadowColor) 0 8px 24px;
}

.rbx-tabs-horizontal .rbx-tab:hover .rbx-tab-heading {
    box-shadow: inset 0 -1px var(--HoveredBorderColor) !important;
}

.rbx-tabs-horizontal .rbx-tab.active .rbx-tab-heading {
    box-shadow: inset 0 -2px var(--SelectedBorderColor) !important;
}

.rbx-tabs-horizontal .rbx-tab .rbx-tab-heading {
    background-color: rgba(0, 0, 0, 0) !important;
    box-shadow: none !important;
    transition: box-shadow 250ms var(--CubicBezierAnimation)
}

.rbx-tabs-horizontal.roblox-messages-container {
    border-radius: 18px;
    background-color: var(--ContentBackgroundColor) !important;
}

.friends-carousel-tile > button > a { /* Seems like Roblox doesn't know how to center the "Add Friends" button in the home page. */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-card-thumb-container, .item-card-thumb-container:before, .item-card-thumb, .item-card-equipped, .item-card-menu.ng-scope.ng-isolate-scope.active {
    border-radius: 28px !important;
    transition: opacity 250ms var(--CubicBezierAnimation) !important;
}

.page-content .rbx-tabs-horizontal {
    background-color: var(--ContentBackgroundColor);
    border-radius: 18px;
}

.page-content .rbx-tabs-horizontal .rbx-tab-content {
    padding: 0 12px;
}

.tab-content.rbx-tab-content {
    padding: 6px 12px;
    margin: 0;
    background-color: var(--ContentBackgroundColor) !important;
    border-radius: 0 0 18px 18px;
}

.roblox-messages-container .tab-content.rbx-tab-content {
    background-color: transparent !important;
}

.tab-content.rbx-tab-content .hlist.game-cards {
    display: flex;
    flex-wrap: wrap;
}

.tab-content.rbx-tab-content .hlist.game-cards .list-item.game-card {
    flex-grow: 1;
    flex-basis: calc(100% / 6);
    min-width: 150px;
}

.profile-header-main {
    border-radius: 18px;
    padding: 10px;
    background: var(--ContentBackgroundColor) !important;
}

.profile-avatar-mask {
    padding: 20px 11px !important;
}

.text.ng-binding.ng-scope {
    border-radius: var(--ButtonBorderRadius) !important;
    transition: background-color 250ms var(--CubicBezierAnimation);
}

@keyframes border-appear {
    from {
        border-bottom-color: rgba(0, 0, 0, 0)
    }
}

@keyframes opacity-anim {
    from {
        opacity: 0;
    }
}

@keyframes dropdown-menu-anim {
    from {
        transform: scale(1, 0.5);
    }
}